global:
  scrape_interval: 15s
  evaluation_interval: 15s

rule_files:
  # - "first_rules.yml"
  # - "second_rules.yml"

scrape_configs:
  - job_name: 'prometheus'
    static_configs:
      - targets: ['localhost:9090']

  - job_name: 'x0tta6bl4-node1'
    static_configs:
      - targets: ['x0tta6bl4-node1:9090']

  - job_name: 'x0tta6bl4-node2'
    static_configs:
      - targets: ['x0tta6bl4-node2:9090']

  - job_name: 'postgres'
    static_configs:
      - targets: ['postgres:9187']

  - job_name: 'redis'
    static_configs:
      - targets: ['redis:9121']