auth_enabled: false

ingester:
  chunk_idle_period: 3m
  chunk_retain_period: 1m
  max_chunk_age: 1h
  max_streams_per_user: 10000
  chunk_encoding: gzip

limits_config:
  enforce_metric_name: false
  reject_old_samples: true
  reject_old_samples_max_age: 168h
  max_cache_freshness_per_query: 10m

schema_config:
  configs:
    - from: 2023-01-01
      store: boltdb-shipper
      object_store: filesystem
      schema: v11
      index:
        prefix: index_
        period: 24h

storage_config:
  filesystem:
    directory: /loki/chunks
  index_cache_validity: 5m
  boltdb_shipper:
    active_index_directory: /loki/boltdb-shipper-active
    shared_store: filesystem
    cache_location: /loki/boltdb-shipper-cache

chunk_store_config:
  max_look_back_period: 0s

table_manager:
  retention_deletes_enabled: false
  retention_period: 0s

server:
  http_listen_port: 3100
  log_level: info

query_range:
  results_cache:
    cache:
      enable_fifocache: true
      default_validity: 1m
    max_cache_freshness_per_query: 10m

frontend:
  log_queries_longer_than: 0s
  compress_responses: true

ruler:
  enable_api: true
  rule_path: /loki/rules
  alertmanager_url: http://alertmanager:9093
  external_label_name: cluster
  external_labels:
    cluster: x0tta6bl4
  rules_for_state_exporting:
    - x0tta6bl4_.*
  evaluate_every: 1m
  poll_interval: 1m
