version: '3.9'

services:
  db:
    image: postgres:16-alpine
    environment:
      POSTGRES_USER: maas_user
      POSTGRES_PASSWORD: maas_pass
      POSTGRES_DB: maas_db
    ports:
      - "5433:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data
    deploy:
      resources:
        limits:
          memory: 256M
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U maas_user -d maas_db"]
      interval: 10s
      timeout: 5s
      retries: 5
    networks:
      - maas-network

  vault:
    image: hashicorp/vault:1.15
    ports:
      - "8201:8200"
    environment:
      VAULT_DEV_ROOT_TOKEN_ID: root
      VAULT_ADDR: http://0.0.0.0:8200
    cap_add:
      - IPC_LOCK
    deploy:
      resources:
        limits:
          memory: 256M
    networks:
      - maas-network

  redis:
    image: redis:7-alpine
    ports:
      - "6380:6379"
    deploy:
      resources:
        limits:
          memory: 128M
    networks:
      - maas-network

networks:
  maas-network:
    driver: bridge

volumes:
  postgres_data:
