fastapi
uvicorn
sqlalchemy==2.0.28
alembic==1.13.1
requests
python-multipart
pydantic
pydantic-settings
eth-account
web3
pyjwt
passlib
bcrypt
pyyaml
redis
structlog
psutil
hvac
httpx
prometheus-client
cryptography
ipfshttpclient==0.8.0a2
aioipfs
numpy
msgpack
slowapi
pynacl
email-validator
x402[fastapi,evm,httpx]
