{{- if .Values.podDisruptionBudget.enabled }}
apiVersion: policy/v1
kind: PodDisruptionBudget
metadata:
  name: {{ include "x0tta6bl4.fullname" . }}
  labels:
    {{- include "x0tta6bl4.labels" . | nindent 4 }}
spec:
  minAvailable: {{ .Values.podDisruptionBudget.minAvailable }}
  selector:
    matchLabels:
      {{- include "x0tta6bl4.selectorLabels" . | nindent 6 }}
{{- end }}
