.info_box {
	max-width: 100%;
	min-width: 230px;
}

.checkbox_block {
	display: inline-block;
	width: 45%;
	min-width: 140px;
}

.checkbox_block_basic {
	margin: 1.8em 0 0;
	padding-left: 1em;
}

.checkbox_block_sleeps {
	margin: 0 0 0 1em;
}

.ac-custom {
	padding: 0 1em;
	max-width: 900px;
	margin: 0 auto;
}


.ac-custom ul {
	list-style: none;
	padding: 0;
	margin: 0 auto;
	max-width: 800px;
}

.ac-custom li {
	margin: 1em auto;
	padding: 0;
	position: relative;
}

.checkbox_block label {
	display: inline-block;
	position: relative;
	font-size: 1.2em;
	padding: 0 0 0 40px;
	vertical-align: top;
	color: rgba(0,0,0,0.5);
	cursor: pointer;
	-webkit-transition: color 0.3s;
	transition: color 0.3s;
}

.ac-custom input[type="checkbox"],
.checkbox_block label::before {
	width: 30px;
	height: 30px;
	top: 50%;
	left: 0;
	margin-top: -15px;
	position: absolute;
	cursor: pointer;
}

.ac-custom input[type="checkbox"] {
	opacity: 0;
	-webkit-appearance: none;
	display: inline-block;
	vertical-align: middle;
	z-index: 100;
}

.checkbox_block label::before {
	content: '';
	border: 4px solid #333333;
	-webkit-transition: opacity 0.3s;
	transition: opacity 0.3s;
}

.ac-custom input[type="checkbox"]:checked + label {
	color: #333333;
} 

.ac-custom input[type="checkbox"]:checked + label::before {
	opacity: 0.8;
}

.ac-custom svg {
	position: absolute;
	width: 20px;
	height: 20px;
	top: 50%;
	margin-top: -10px;
	left: 5px;
	color: #333333;
	pointer-events: none;
}

.ac-custom svg path {
	stroke: #333333;
	stroke-width: 13px;
	stroke-linecap: round;
	stroke-linejoin: round;
	fill: none;
}

.ac-boxfill svg path {
	stroke-width: 8px;
} 

/* Media Queries */
@media screen and (max-width: 50em) {
	section {
		font-size: 80%;
	}
}