*, *::after, *::before {
	box-sizing: border-box;
}

html, 
body, 
.container, 
.content-wrapper {
	overflow: hidden;
	width: 100%;
	height: 100%;
}

html {
	font-size: 62.5%;
}

body {
	min-height: 500px;
	font-size: 1.6rem;
	font-family: "Open Sans", sans-serif;
	color: #3e454c;
}

body::after {
  clear: both;
  content: "";
  display: table;
}

a {
	color: #1784c7;
	text-decoration: none;
}

input {
	font-family: "Open Sans", sans-serif;
	font-size: 1.6rem;
}

input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
	display: none;
}

.content-wrap {
	height: 100%;
	-webkit-overflow-scrolling: touch;
	-webkit-transition: -webkit-transform 0.3s;
	transition: transform 0.3s;
}

.content {
	height: 100%;
	position: relative;
	overflow-y: auto;
	overflow-x: hidden;
}

@media only screen and (max-width: 768px) {
  .content {
    margin: 60px 0 0;
  }
}
@media only screen and (min-width: 1024px) {
  .content {
    margin: 60px 0 0 70px;
  }
}

.content::before {
	position: absolute;
	top: 0;
	left: 0;
	z-index: 10;
	width: 100%;
	height: 100%;
	background: rgba(0,0,0,0.3);
	content: '';
	opacity: 0;
	-webkit-transition: opacity 0.3s, -webkit-transform 0s 0.3s;
	transition: opacity 0.3s, transform 0s 0.3s;
	-webkit-transform: translate3d(100%,0,0);
	transform: translate3d(100%,0,0);
}

.show-menu .content-wrap {
	-webkit-transition-delay: 0.1s;
	transition-delay: 0.1s;
	-webkit-transform: translate3d(100px,0,0);
	transform: translate3d(100px,0,0);
}

.show-menu .content::before {
	opacity: 1;
	-webkit-transition: opacity 0.3s;
	transition: opacity 0.3s;
	-webkit-transform: translate3d(0,0,0);
	transform: translate3d(0,0,0);
}

.form-style {
	padding: 1px 5% 3em;
}

.page {
	float: left;
	padding: 1px 5% 3em;
}

.button_box{
	margin-top: 1em;
}

.basic_title {
	margin: 1em;
	font-size: 1.1em;
	padding-left: 1em;
}

.help {
	position: fixed;
	top: 130px;
	right: 100px;
	width: 300px;
	height:280px;
	display:block;
	background: #eee;
	padding: 20px;
	margin: 0 10px;
	opacity:0;
}
.help.active {
	opacity: 1;
}