/* Icons */
@font-face {
	font-weight: normal;
	font-style: normal;
	font-family: 'icomoon';
	src:url('../fonts/icomoon/icomoon.eot?i64fx9');
	src:url('../fonts/icomoon/icomoon.eot?#iefixi64fx9') format('embedded-opentype'),
		url('../fonts/icomoon/icomoon.woff?i64fx9') format('woff'),
		url('../fonts/icomoon/icomoon.ttf?i64fx9') format('truetype'),
		url('../fonts/icomoon/icomoon.svg?i64fx9#icomoon') format('svg');
}

.icon-close {
	z-index: 100;
	display: block;
	overflow: hidden;
	width: 3em;
	height: 3em;
	text-align: center;
	line-height: 3;
	cursor: pointer;
}

.icon-close:before {
	position: relative;
	display: block;
	width: 100%;
	height: 100%;
	text-transform: none;
	font-weight: normal;
	font-style: normal;
	font-variant: normal;
	font-family: 'icomoon';
	speak: none;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}


.icon-close::before {
	content: "\e601";
}

.icon-close {
	position: absolute;
	top: 20px;
	right: 20px;
}

.icon-close:hover {
	color: #a50a05;
}

/* Style for form modal */
.content-style-form {
	position: relative;
	text-align: left;
}

.content-style-form h2 {
	margin: 0;
	padding: 0.8em 0 0 0;
	text-align: center;
	font-weight: 300;
	font-size: 2.5em;
}

.content-style-form form {
	padding: 1px 30px;
}

.content-style-form button {
	display: block;
	margin: 2em 0;
	padding: 1em;
	width: 100%;
	border: none;
	background: #e75854;
	color: #f9f6e5;
	text-transform: uppercase;
	letter-spacing: 1px;
	font-weight: 800;
	font-size: 1em;
}

.content-style-form .icon-close {
	top: 0;
	right: 0;
	color: #ebd3bd;
	font-size: 75%;
}

.content-style-form .icon-close:hover {
	color: #e75854;
}

.js .content-style-form-1 h2,
.js .content-style-form-1 p,
.js .content-style-form-1 .icon-close {
	opacity: 0;
	-webkit-transition: opacity 0.2s 0.35s, -webkit-transform 0.2s 0.35s;
	transition: opacity 0.2s 0.35s, transform 0.2s 0.35s;
	-webkit-transform: scale(0.85);
	transform: scale(0.85);
}

.content-style-form-1 p:first-child {
	-webkit-transition-delay: 0.4s;
	transition-delay: 0.4s;
}

.content-style-form-1 p:nth-child(2) {
	-webkit-transition-delay: 0.45s;
	transition-delay: 0.45s;
}

.content-style-form-1 p:nth-child(3) {
	-webkit-transition-delay: 0.5s;
	transition-delay: 0.5s;
}

.morph-button.open .content-style-form-1 h2,
.morph-button.open .content-style-form-1 p,
.morph-button.open .content-style-form-1 .icon-close {
	opacity: 1;
	-webkit-transform: scale(1);
	transform: scale(1);
}

.js .content-style-form-2 h2,
.js .content-style-form-2 p,
.js .content-style-form-2 .icon-close {
	opacity: 0;
	-webkit-transition: opacity 0.2s 0.3s, -webkit-transform 0.2s 0.3s;
	transition: opacity 0.2s 0.3s, transform 0.2s 0.3s;
	-webkit-transform: translateY(50px);
	transform: translateY(50px);
}

.content-style-form-2 p:first-child {
	-webkit-transition-delay: 0.35s;
	transition-delay: 0.35s;
}

.content-style-form-2 p:nth-child(2) {
	-webkit-transition-delay: 0.4s;
	transition-delay: 0.4s;
}

.content-style-form-2 p:nth-child(3) {
	-webkit-transition-delay: 0.45s;
	transition-delay: 0.45s;
}

.content-style-form-2 p:nth-child(4) {
	-webkit-transition-delay: 0.5s;
	transition-delay: 0.5s;
}

.morph-button.open .content-style-form-2 h2,
.morph-button.open .content-style-form-2 p,
.morph-button.open .content-style-form-2 .icon-close {
	opacity: 1;
	-webkit-transform: translateY(0);
	transform: translateY(0);
}