.style_input {
	width: 100%;
}


.cs-placeholder{
	color: #333333;
}

.input {
	position: relative;
	z-index: 1;
	display: inline-block;
	margin: 0 1em;
	max-width: 50%;
	min-width: 200px;
	width: calc(100% - 2em);
	vertical-align: top;
	text-align: center;
}

.input__field {
	position: relative;
	display: block;
	float: right;
	padding: 0.8em;
	width: 60%;
	border: none;
	border-radius: 0;
	background: #333333;
	color: #333333;
	font-weight: bold;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	-webkit-appearance: none; /* for box shadows to show on iOS */
}

.input__field:focus {
	outline: none;
}

.input__label {
	display: inline-block;
	float: right;
	padding: 0 1em;
	width: 40%;
	color: #6a7989;
	font-weight: bold;
	font-size: 70.25%;
	-webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.input__label-content {
	position: relative;
	display: block;
	padding: 1.6em 0;
	width: 100%;
}

.input--akira {
	margin-top: 2em;
}

.input__field--akira {
	position: absolute;
	top: 0;
	left: 0;
	z-index: 10;
	display: block;
	padding: 0 1em;
	width: 100%;
	height: 100%;
	background: transparent;
	text-align: center;
}

.input__label--akira {
	padding: 0;
	width: 100%;
	background: #333333;
	color: #333333;
	cursor: text;
}

.input__label--akira::before {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: #fff;
	-webkit-transform: scale3d(0.97, 0.85, 1);
	transform: scale3d(0.97, 0.85, 1);
	-webkit-transition: -webkit-transform 0.3s;
	transition: transform 0.3s;
}

.input__label-content--akira {
	-webkit-transition: -webkit-transform 0.3s;
	transition: transform 0.3s;
}

.input__field--akira:focus + .input__label--akira::before,
.input--filled .input__label--akira::before {
	-webkit-transform: scale3d(0.99, 0.95, 1);
	transform: scale3d(0.99, 0.95, 1);
}

.input__field--akira:focus + .input__label--akira,
.input--filled .input__label--akira {
	cursor: default;
	pointer-events: none;
}

.input__field--akira:focus + .input__label--akira .input__label-content--akira,
.input--filled .input__label-content--akira {
	-webkit-transform: translate3d(0, -3.5em, 0);
	transform: translate3d(0, -3.5em, 0);
}

.button,
.type_2 label {
	cursor: pointer;
	float: left;
	max-width: 165px;
	min-width: 150px;
	display: block;
	margin: 1em;
	padding: 1em 2em;
	border: none;
	background: none;
	color: #333333;
	vertical-align: middle;
	text-align: center;
	position: relative;
	z-index: 1;
	-webkit-backface-visibility: hidden;
	-moz-osx-font-smoothing: grayscale;
}
.button:focus {
	outline: none;
}

.button--nuka {
	margin: 1em 2em;
	-webkit-transition: color 0.3s;
	transition: color 0.3s;
	-webkit-transition-timing-function: cubic-bezier(0.2, 1, 0.3, 1);
	transition-timing-function: cubic-bezier(0.2, 1, 0.3, 1);
}
.button--nuka.button--inverted {
	color: #333333;
}

.button--nuka{
	background: #FF5346;
}

.button--nuka::before,
.button--nuka::after {
	content: '';
	position: absolute;
	border: 3px solid #333333;
	border-radius: inherit;
	z-index: -1;
}
.button--nuka::before {
	top: -4px;
	bottom: -4px;
	left: -4px;
	right: -4px;
	opacity: 0.3;
	-webkit-transform: scale3d(0.7, 1, 1);
	transform: scale3d(0.7, 1, 1);
	-webkit-transition: -webkit-transform 0.3s, opacity 0.3s;
	transition: transform 0.3s, opacity 0.3s;
}
.button--nuka::after {
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: #fff;
	-webkit-transform: scale3d(1.1, 1, 1);
	transform: scale3d(1.1, 1, 1);
	-webkit-transition: -webkit-transform 0.3s, background-color 0.3s;
	transition: transform 0.3s, background-color 0.3s;
}
.button--nuka::before,
.button--nuka::after {
	-webkit-transition-timing-function: cubic-bezier(0.2, 1, 0.3, 1);
	transition-timing-function: cubic-bezier(0.2, 1, 0.3, 1);
}
.button--nuka.button--inverted::before,
.button--nuka.button--inverted::after {
	background: #333333;
}
.button--nuka:hover {
	color: #fff;
}
.button--nuka:hover::before {
	opacity: 1;
}
.button--nuka:hover::after {
	background-color: #EC4863;
}

.button--nuka.button--inverted:hover::after {
	background-color: #7986cb;
}
.button--nuka:hover::after,
.button--nuka:hover::before {
	-webkit-transform: scale3d(1, 1, 1);
	transform: scale3d(1, 1, 1);
}

.pressed::before,
.pressed::after {
	background: #EC4863;
}

.pressed {
	pointer-events: none;
}

input[type="radio"] {
	display: none;
}

textarea {
	width: 50%;
	min-width: 200px;
	height: 250px;
	margin: 0 1em 1em;
	background-color:#fff;
	border:3px solid #333333;
	color:#333333;
	font-weight:bold;
	resize:none;
}

textarea {
	overflow:auto;
	vertical-align:top;
}

.description_title {
	margin: 1em;
	width: 50%;
	min-width: 200px;
	text-align: center;
	color: #333333;
	font-weight: bold;
	font-size: 70.25%;
}