# ArgoCD Application for x0tta6bl4
# GitOps deployment configuration

apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: x0tta6bl4
  namespace: argocd
  finalizers:
    - resources-finalizer.argocd.argoproj.io
spec:
  project: default
  
  source:
    repoURL: https://github.com/x0tta6bl4/x0tta6bl4
    targetRevision: main
    path: helm/x0tta6bl4
    helm:
      valueFiles:
        - values.yaml
      parameters:
        - name: production.enabled
          value: "true"
        - name: image.tag
          value: "3.4.0"
  
  destination:
    server: https://kubernetes.default.svc
    namespace: x0tta6bl4
  
  syncPolicy:
    automated:
      prune: true
      selfHeal: true
      allowEmpty: false
    syncOptions:
      - CreateNamespace=true
      - PrunePropagationPolicy=foreground
      - PruneLast=true
    retry:
      limit: 5
      backoff:
        duration: 5s
        factor: 2
        maxDuration: 3m

