@font-face {
    font-family: 'Exo2-ExtraBoldExpanded';
    src: url('../fonts/Exo2-ExtraBoldExpanded.otf');
    font-weight: normal;
    font-style: normal;
}

*,
*:after,
*::before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

html {
	height: 100%;
}

body {
	font: 12px 'Exo2-ExtraBoldExpanded', sans-serif;
	height: 100%;
}

nav a {
	position: relative;
	display: inline-block;
	margin: 15px 25px;
	outline: none;
	color: #fff;
	text-decoration: none;
	text-transform: uppercase;
	letter-spacing: 1px;
	font-weight: 400;
	text-shadow: 0 0 1px rgba(255,255,255,0.3);
	font-size: 1.25em;
}

nav a:hover,
nav a:focus {
	outline: none;
}

.wrapper {
	min-width: 320px;
	max-width: 1920px;
	min-height: 100%;
	margin: 0 auto;
	background: url(../images/congruent_pentagon.png);
}

.menu {
	margin: 0 auto;
	padding: 3em 0;
	text-align: center;
	background: #cd4436;
}

.cl-effect-12 a::before,
.cl-effect-12 a::after {
	position: absolute;
	top: 50%;
	left: 50%;
	width: 100px;
	height: 100px;
	border: 2px solid rgba(0,0,0,0.1);
	border-radius: 50%;
	content: '';
	opacity: 0;
	-webkit-transition: -webkit-transform 0.3s, opacity 0.3s;
	-moz-transition: -moz-transform 0.3s, opacity 0.3s;
	transition: transform 0.3s, opacity 0.3s;
	-webkit-transform: translateX(-50%) translateY(-50%) scale(0.2);
	-moz-transform: translateX(-50%) translateY(-50%) scale(0.2);
	transform: translateX(-50%) translateY(-50%) scale(0.2);
}

.cl-effect-12 a::after {
	width: 90px;
	height: 90px;
	border-width: 6px;
	-webkit-transform: translateX(-50%) translateY(-50%) scale(0.8);
	-moz-transform: translateX(-50%) translateY(-50%) scale(0.8);
	transform: translateX(-50%) translateY(-50%) scale(0.8);
}

.cl-effect-12 a:hover::before,
.cl-effect-12 a:hover::after,
.cl-effect-12 a:focus::before,
.cl-effect-12 a:focus::after {
	opacity: 1;
	-webkit-transform: translateX(-50%) translateY(-50%) scale(1);
	-moz-transform: translateX(-50%) translateY(-50%) scale(1);
	transform: translateX(-50%) translateY(-50%) scale(1);
}


.content {
	padding: 10px;
	height:100%;
}

.content h1{
	text-align: center;
	color: #cd4436;
	text-transform: uppercase;
}

.content p {
	text-indent: 30px;
	font-size: 1em;
	color: #290CE8;
}

.jgallery,
.jgallery-thumbnails ,
.jgallery-container,
.nav-bottom {
	background: none !important ;
}

.VideoBlock {
	display: inline-block;
	position:relative;
	padding: 1em;
	width: 50%;
	height: 360px;
	float: left;
	margin: 1em 0;
}

.VideoBlock-2 {
	display: inline-block;
	position:relative;
	padding: 1em;
	width: 50%;
	height: 360px;
	float: right;
	margin: 1em 0;
}

.TextBlock {
	display: inline-block;
	position:relative;
	padding: 0 0 0 2em;
	width: 50%; 
	height: 360px;
	margin: 1em 0;
	font-size: 2.5em;
}

.TextBlock  p{
	text-shadow: red 0 0 2px;
}

.TextBlock  a {
	text-decoration: none;
}

.TextBlock  a:hover {
	color: #cd4436;
}

.FormBox {
	display: inline-block;
	float: left;
	width: 50%;
	min-height: 100%;
}

.ChatBox {
	display: inline-block;
	width: 50%;
}

.ChatBox span{
	font-size: 1.5em;
	color: #cd4436;
}

.ChatBlock{
	padding:1em;
}

.MailBox {
	float: left;
	width: 70%;
}

.ContactBox  p {
	font-size: 1.2em;
}

.ContactBox  h2  {
	color: #cd4436;
}

.ContactBox  a {
	padding: 5px;
}

.footer {
	margin: 0 auto 0;
	min-width: 1000px;
	max-width: 1920px;
	height: 100px;
	background: #FFFE0D;
}