@font-face {
	font-family: 'icomoon';
	src:url('../fonts/icomoon/icomoon.eot');
	src:url('../fonts/icomoon/icomoon.eot?#iefix') format('embedded-opentype'),
		url('../fonts/icomoon/icomoon.woff') format('woff'),
		url('../fonts/icomoon/icomoon.ttf') format('truetype'),
		url('../fonts/icomoon/icomoon.svg#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

.icon:before {
	font-family: 'icomoon';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	display: inline-block;
	margin-right: 0.6em;
	-webkit-font-smoothing: antialiased;
}

.icon-dolphin:before {
	content: "\e605";
}

.icon-refresh:before {
	content: "\e614";
}

.icon-arrow-left:before {
	content: "\e620";
}

.icon-arrow-right:before {
	content: "\e621";
}

.icon-find:before {
	content: "\e608";
}

.icon-home:before {
	content: "\e609";
}

.icon-appartments:before {
	content: "\e601";
}

.icon-room:before {
	content: "\e616";
}

.icon-hotel:before {
	content: "\e610";
}

.icon-village:before {
	content: "\e619";
}

.icon-evpatory:before {
	content: "\e606";
}

.icon-quill:before {
	content: "\e613";
}

.icon-places:before {
	content: "\e612";
}

.icon-location:before {
	content: "\e611";
}

.icon-transport:before {
	content: "\e618";
}

.icon-rest:before {
	content: "\e615";
}

.icon-beach:before {
	content: "\e603";
}

.icon-bar:before {
	content: "\e602";
}

.icon-family:before {
	content: "\e607";
}

.icon-about:before {
	content: "\e600";
}

.icon-contact:before {
	content: "\e604";
}

.icon-service:before {
	content: "\e617";
}