{{- if .Values.prometheus.enabled }}
apiVersion: monitoring.coreos.com/v1
kind: ServiceMonitor
metadata:
  name: {{ include "x0tta6bl4.fullname" . }}
  labels:
    {{- include "x0tta6bl4.labels" . | nindent 4 }}
spec:
  selector:
    matchLabels:
      {{- include "x0tta6bl4.selectorLabels" . | nindent 6 }}
  endpoints:
    - port: metrics
      interval: 15s
      path: /metrics
      scheme: http
  namespaceSelector:
    matchNames:
      - {{ .Release.Namespace }}
{{- end }}
